* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.nav {
  position: relative;
  width: 400px;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.nav ul {
  display: flex;
  width: 350px;
}

.nav ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.nav ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.nav ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #333;
}

.nav ul li.active a .icon {
  transform: translateY(-35px);
}

.nav ul li a .text {
  position: absolute;
  color: #333;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}

.nav ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: bisque;
  top: -50%;
  border-radius: 50%;
  border: 6px solid #333;
  transition: 0.5s;
}

.indicator::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: -22.5px;
  background-color: #fff;
  border-top-right-radius: 20px;
  box-shadow: 0 -10px 0 0 #333;
}

.indicator::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: -23px;
  background-color: #fff;
  border-top-left-radius: 20px;
  box-shadow: 0 -10px 0 0 #333;
}

.nav ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.nav ul li:nth-child(2).active ~ .indicator {
  transform: translateX(70px);
}

.nav ul li:nth-child(3).active ~ .indicator {
  transform: translateX(140px);
}

.nav ul li:nth-child(4).active ~ .indicator {
  transform: translateX(210px);
}

.nav ul li:nth-child(5).active ~ .indicator {
  transform: translateX(280px);
}
